<footer class="footer">
  <div class="container">
    <ul class="footer-nav">
      <li class="footer-nav-item"><a href="#about-us">about us</a></li>
      <li class="footer-nav-item">
        <a href="#our-collection">our collection</a>
      </li>
      <li class="footer-nav-item">
        <a href="#customer-order">customer order</a>
      </li>
      <li class="footer-nav-item"><a href="#testimonials">testimonials</a></li>
    </ul>
    <p>A touch of <span>Ukrainian</span> culture in every embroidery</p>
  </div>
</footer>
