<section class="section">
  <div class="container hero">
    <div class="hero-info">
      <h1 class="hero-title">
        Reviving the traditional
        <span class="hero-title-color">Ukrainian</span> artistry in every
        stitch.
      </h1>
      <a class="link-scroll" href="#customer-order">
        <p class="link-scroll-text">Order</p>
        <svg class="icon-arrow" width="26" height="10">
          <use class="icon-arrow-svg" href="./img/icons.svg#icon-arrow"></use>
        </svg>
      </a>
    </div>
    <div class="star-and-text">
      <svg class="icon-star" width="52" height="51">
        <use class="icon-star-svg" href="./img/icons.svg#icon-star"></use>
      </svg>
      <p class="icon-star-text">all embroidery is made by hand</p>
    </div>
    <picture class="map-urkaine">
      <!-- Для екранів 768px+ -->
      <source
        media="(min-width: 768px) and (max-width: 1279px)"
        srcset="
          ./img/hero-img/hero-map.png    1x,
          ./img/hero-img/hero-map@2x.png 2x
        "
        width="157"
        height="191"
      />
      <!-- Для екранів 1280px+ -->
      <source
        media="(min-width: 1280px) and (max-width: 1440px)"
        srcset="
          ./img/hero-img/hero-map.png    1x,
          ./img/hero-img/hero-map@2x.png 2x
        "
        width="142"
        height="156"
      />
      <!-- Зображення за замовчуванням, якщо жодна з умов не виконується -->
      <img
        src="./img/hero-img/hero-map.png"
        width="142"
        height="156"
        alt="map-ukraine"
      />
    </picture>
    <picture class="hero-girl-photo">
      <!-- Для екранів 320px+ -->
      <source
        media="(max-width: 767px)"
        srcset="
          ./img/hero-img/hero-girl-mob.jpg    1x,
          ./img/hero-img/hero-girl-mob@2x.jpg 2x
        "
        width="335"
        height="545"
      />
      <!-- Для екранів 768px+ -->
      <source
        media="(min-width: 768px) and (max-width: 1279px)"
        srcset="
          ./img/hero-img/hero-girl-tab.jpg    1x,
          ./img/hero-img/hero-girl-tab@2x.jpg 2x
        "
        width="413"
        height="575"
      />
      <!-- Для екранів 1280px+ -->
      <source
        media="(min-width: 1280px) and (max-width: 1440px)"
        srcset="
          ./img/hero-img/hero-girl-desktop.jpg    1x,
          ./img/hero-img/hero-girl-desktop@2x.jpg 2x
        "
        width="392"
        height="545"
      />
      <!-- Зображення за замовчуванням, якщо жодна з умов не виконується -->
      <img
        src="./img/hero-img/hero-girl-desktop.jpg"
        width="392"
        height="545"
        alt="ua-woman"
      />
    </picture>
  </div>
</section>
