<section class="section our-colection-section" id="our-collection">
  <div class="container">
    <h2 class="section-title">Our collection</h2>
    <ul class="collection-flex">
      <li class="colection-border">
        <img
          class="img-hov"
          srcset="
            ./img/collection/coll-poltava-blouse-mob.png         335w,
            ./img/collection/coll-poltava-blouse-tab.png         342w,
            ./img/collection/coll-poltava-blouse-desk1280.png    347w,
            ./img/collection/coll-poltava-blouse-desk1440.png    400w,
            ./img/collection/coll-poltava-blouse-mob@2x.png      670w,
            ./img/collection/coll-poltava-blouse-tab@2x.png      684w,
            ./img/collection/coll-poltava-blouse-desk1280@2x.png 694w,
            ./img/collection/coll-poltava-blouse-desk1440@2x.png 800w
          "
          sizes="
                (min-width: 1440px) 400px,
                (min-width: 1280px) 347px, 
                (min-width: 768px) 342px, 
                (max-width: 767px) 335px"
          src="./img/collection/coll-poltava-blouse-tab.png"
          alt="AUGUST Poltava women's blouseRING"
        />
        <div class="overlay">
          <h3 class="overlay-title">AUGUST Poltava women's blouseRING</h3>
          <p class="overlay-text">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga
            suscipit tempora ut dolor veritatis mollitia quam doloremque iure
            consequuntur alias, neque exercitationem. Ipsa a dicta id sint
            laborum praesentium! Officiis? Totam itaque vitae, optio hic ipsa
            odio quibusdam quod veritatis dolorem facilis saepe. Dolorum aliquam
            recusandae est voluptates esse labore rem, architecto illo, cum
            quaerat deserunt, laudantium nisi consequatur iusto! Quidem minus
            doloribus iusto? Officiis in atque neque, eveniet esse voluptatem
            quod possimus aut blanditiis laborum quaerat eos perspiciatis
            consequuntur voluptatum modi soluta temporibus facere magni error
            quae, iure nulla. Nulla, sed necessitatibus quam quia mollitia amet
            voluptatum! Fugiat illo inventore, error ipsam praesentium labore
            aut libero laborum corporis architecto enim quos atque! Esse sunt
            earum aliquid ad nam fuga.
          </p>
        </div>
        <div class="our-colect-text">
          <h3 class="collection-header-item">
            AUGUST Poltava women's blouseRING
          </h3>
          <p class="collection-price">3300 UAH</p>
        </div>
      </li>
      <li class="colection-border">
        <img
          class="img-hov"
          srcset="
            ./img/collection/coll-blouse-gorgany-mob.png         335w,
            ./img/collection/coll-blouse-gorgany-tab.png         342w,
            ./img/collection/coll-blouse-gorgany-desk1280.png    347w,
            ./img/collection/coll-blouse-gorgany-desk1440.png    400w,
            ./img/collection/coll-blouse-gorgany-mob@2x.png      670w,
            ./img/collection/coll-blouse-gorgany-tab@2x.png      684w,
            ./img/collection/coll-blouse-gorgany-desk1280@2x.png 694w,
            ./img/collection/coll-blouse-gorgany-desk1440@2x.png 800w
          "
          sizes="
                (min-width: 1440px) 400px,
                (min-width: 1280px) 347px, 
                (min-width: 768px) 342px, 
                (max-width: 767px) 335px"
          src="./img/collection/coll-blouse-gorgany-mob.png"
          alt="Women's blouse Gorgany"
        />
        <div class="overlay">
          <h3 class="overlay-title">Women's blouse Gorgany</h3>
          <p class="overlay-text">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga
            suscipit tempora ut dolor veritatis mollitia quam doloremque iure
            consequuntur alias, neque exercitationem. Ipsa a dicta id sint
            laborum praesentium! Officiis? Totam itaque vitae, optio hic ipsa
            odio quibusdam quod veritatis dolorem facilis saepe. Dolorum aliquam
            recusandae est voluptates esse labore rem, architecto illo, cum
            quaerat deserunt, laudantium nisi consequatur iusto! Quidem minus
            doloribus iusto? Officiis in atque neque, eveniet esse voluptatem
            quod possimus aut blanditiis laborum quaerat eos perspiciatis
            consequuntur voluptatum modi soluta temporibus facere magni error
            quae, iure nulla. Nulla, sed necessitatibus quam quia mollitia amet
            voluptatum! Fugiat illo inventore, error ipsam praesentium labore
            aut libero laborum corporis architecto enim quos atque! Esse sunt
            earum aliquid ad nam fuga.
          </p>
        </div>
        <div class="our-colect-text">
          <h3 class="collection-header-item">Women's blouse Gorgany</h3>
          <p class="collection-price">3350 UAH</p>
        </div>
      </li>
      <li class="colection-border">
        <img
          class="img-hov"
          srcset="
            ./img/collection/coll-blouse-crimea-mob.png         335w,
            ./img/collection/coll-blouse-crimea-tab.png         342w,
            ./img/collection/coll-blouse-crimea-desk1280.png    347w,
            ./img/collection/coll-blouse-crimea-desk1440.png    400w,
            ./img/collection/coll-blouse-crimea-mob@2x.png      670w,
            ./img/collection/coll-blouse-crimea-tab@2x.png      684w,
            ./img/collection/coll-blouse-crimea-desk1280@2x.png 694w,
            ./img/collection/coll-blouse-crimea-desk1440@2x.png 800w
          "
          sizes="
                (min-width: 1440px) 400px,
                (min-width: 1280px) 347px, 
                (min-width: 768px) 342px, 
                (max-width: 767px) 335px"
          src="./img/collection/coll-blouse-crimea-mob.png"
          alt="Women's blouse Crimea"
        />
        <div class="overlay">
          <h3 class="overlay-title">Women's blouse Crimea</h3>
          <p class="overlay-text">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga
            suscipit tempora ut dolor veritatis mollitia quam doloremque iure
            consequuntur alias, neque exercitationem. Ipsa a dicta id sint
            laborum praesentium! Officiis? Totam itaque vitae, optio hic ipsa
            odio quibusdam quod veritatis dolorem facilis saepe. Dolorum aliquam
            recusandae est voluptates esse labore rem, architecto illo, cum
            quaerat deserunt, laudantium nisi consequatur iusto! Quidem minus
            doloribus iusto? Officiis in atque neque, eveniet esse voluptatem
            quod possimus aut blanditiis laborum quaerat eos perspiciatis
            consequuntur voluptatum modi soluta temporibus facere magni error
            quae, iure nulla. Nulla, sed necessitatibus quam quia mollitia amet
            voluptatum! Fugiat illo inventore, error ipsam praesentium labore
            aut libero laborum corporis architecto enim quos atque! Esse sunt
            earum aliquid ad nam fuga.
          </p>
        </div>
        <div class="our-colect-text">
          <h3 class="collection-header-item">Women's blouse Crimea</h3>
          <p class="collection-price">4000 UAH</p>
        </div>
      </li>
      <li class="colection-border">
        <img
          class="img-hov"
          srcset="
            ./img/collection/coll-shirt-verkhovina-mob.png         335w,
            ./img/collection/coll-shirt-verkhovina-tab.png         342w,
            ./img/collection/coll-shirt-verkhovina-desk1280.png    347w,
            ./img/collection/coll-shirt-verkhovina-desk1440.png    400w,
            ./img/collection/coll-shirt-verkhovina-mob@2x.png      670w,
            ./img/collection/coll-shirt-verkhovina-tab@2x.png      684w,
            ./img/collection/coll-shirt-verkhovina-desk1280@2x.png 694w,
            ./img/collection/coll-shirt-verkhovina-desk1440@2x.png 800w
          "
          sizes="
                (min-width: 1440px) 400px,
                (min-width: 1280px) 347px, 
                (min-width: 768px) 342px, 
                (max-width: 767px) 335px"
          src="./img/collection/coll-shirt-verkhovina-mob.png"
          alt="Men's shirt Verkhovina"
        />
        <div class="overlay">
          <h3 class="overlay-title">Men's shirt Verkhovina</h3>
          <p class="overlay-text">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga
            suscipit tempora ut dolor veritatis mollitia quam doloremque iure
            consequuntur alias, neque exercitationem. Ipsa a dicta id sint
            laborum praesentium! Officiis? Totam itaque vitae, optio hic ipsa
            odio quibusdam quod veritatis dolorem facilis saepe. Dolorum aliquam
            recusandae est voluptates esse labore rem, architecto illo, cum
            quaerat deserunt, laudantium nisi consequatur iusto! Quidem minus
            doloribus iusto? Officiis in atque neque, eveniet esse voluptatem
            quod possimus aut blanditiis laborum quaerat eos perspiciatis
            consequuntur voluptatum modi soluta temporibus facere magni error
            quae, iure nulla. Nulla, sed necessitatibus quam quia mollitia amet
            voluptatum! Fugiat illo inventore, error ipsam praesentium labore
            aut libero laborum corporis architecto enim quos atque! Esse sunt
            earum aliquid ad nam fuga.
          </p>
        </div>
        <div class="our-colect-text">
          <h3 class="collection-header-item">Men's shirt Verkhovina</h3>
          <p class="collection-price">3100 UAH</p>
        </div>
      </li>
      <li class="colection-border">
        <img
          class="img-hov"
          srcset="
            ./img/collection/coll-montain-shirt-mob.png         335w,
            ./img/collection/coll-montain-shirt-tab.png         342w,
            ./img/collection/coll-montain-shirt-desk1280.png    347w,
            ./img/collection/coll-montain-shirt-desk1440.png    400w,
            ./img/collection/coll-montain-shirt-mob@2x.png      670w,
            ./img/collection/coll-montain-shirt-tab@2x.png      684w,
            ./img/collection/coll-montain-shirt-desk1280@2x.png 694w,
            ./img/collection/coll-montain-shirt-desk1440@2x.png 800w
          "
          sizes="
                (min-width: 1440px) 400px,
                (min-width: 1280px) 347px, 
                (min-width: 768px) 342px, 
                (max-width: 767px) 335px"
          src="./img/collection/coll-montain-shirt-mob.png"
          alt="Mountain men's shirt"
        />
        <div class="overlay">
          <h3 class="overlay-title">Mountain men's shirt</h3>
          <p class="overlay-text">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga
            suscipit tempora ut dolor veritatis mollitia quam doloremque iure
            consequuntur alias, neque exercitationem. Ipsa a dicta id sint
            laborum praesentium! Officiis? Totam itaque vitae, optio hic ipsa
            odio quibusdam quod veritatis dolorem facilis saepe. Dolorum aliquam
            recusandae est voluptates esse labore rem, architecto illo, cum
            quaerat deserunt, laudantium nisi consequatur iusto! Quidem minus
            doloribus iusto? Officiis in atque neque, eveniet esse voluptatem
            quod possimus aut blanditiis laborum quaerat eos perspiciatis
            consequuntur voluptatum modi soluta temporibus facere magni error
            quae, iure nulla. Nulla, sed necessitatibus quam quia mollitia amet
            voluptatum! Fugiat illo inventore, error ipsam praesentium labore
            aut libero laborum corporis architecto enim quos atque! Esse sunt
            earum aliquid ad nam fuga.
          </p>
        </div>
        <div class="our-colect-text">
          <h3 class="collection-header-item">Mountain men's shirt</h3>
          <p class="collection-price">3300 UAH</p>
        </div>
      </li>
      <li class="colection-border">
        <img
          class="img-hov"
          srcset="
            ./img/collection/coll-shirt-yasen-mob.png         335w,
            ./img/collection/coll-shirt-yasen-tab.png         342w,
            ./img/collection/coll-shirt-yasen-desk1280.png    347w,
            ./img/collection/coll-shirt-yasen-desk1440.png    400w,
            ./img/collection/coll-shirt-yasen-mob@2x.png      670w,
            ./img/collection/coll-shirt-yasen-tab@2x.png      684w,
            ./img/collection/coll-shirt-yasen-desk1280@2x.png 694w,
            ./img/collection/coll-shirt-yasen-desk1440@2x.png 800w
          "
          sizes="
                (min-width: 1440px) 400px,
                (min-width: 1280px) 347px, 
                (min-width: 768px) 342px, 
                (max-width: 767px) 335px"
          src="./img/collection/coll-shirt-yasen-mob.png"
          alt="Men's shirt Yasen"
        />
        <div class="overlay">
          <h3 class="overlay-title">Men's shirt Yasen</h3>
          <p class="overlay-text">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga
            suscipit tempora ut dolor veritatis mollitia quam doloremque iure
            consequuntur alias, neque exercitationem. Ipsa a dicta id sint
            laborum praesentium! Officiis? Totam itaque vitae, optio hic ipsa
            odio quibusdam quod veritatis dolorem facilis saepe. Dolorum aliquam
            recusandae est voluptates esse labore rem, architecto illo, cum
            quaerat deserunt, laudantium nisi consequatur iusto! Quidem minus
            doloribus iusto? Officiis in atque neque, eveniet esse voluptatem
            quod possimus aut blanditiis laborum quaerat eos perspiciatis
            consequuntur voluptatum modi soluta temporibus facere magni error
            quae, iure nulla. Nulla, sed necessitatibus quam quia mollitia amet
            voluptatum! Fugiat illo inventore, error ipsam praesentium labore
            aut libero laborum corporis architecto enim quos atque! Esse sunt
            earum aliquid ad nam fuga.
          </p>
        </div>
        <div class="our-colect-text">
          <h3 class="collection-header-item">Men's shirt Yasen</h3>
          <p class="collection-price">1700 UAH</p>
        </div>
      </li>
    </ul>
  </div>
  <div class="background-image"></div>
</section>
