<section>
    <div>
        <h2>Our collection</h2>
        <ul>
            <li>
                <img 
                srcset="
                ./img/collection/coll-poltava-blouse-mob.png w335,
                ./img/collection/coll-poltava-blouse-tab.png w342,
                ./img/collection/coll-poltava-blouse-desk1280.png w347,
                ./img/collection/coll-poltava-blouse-desk1440.png w400,
                ./img/collection/coll-poltava-blouse-mob@2x.png w670,
                ./img/collection/coll-poltava-blouse-tab@2x.png w684,
                ./img/collection/coll-poltava-blouse-desk1280@2x.png w694,
                ./img/collection/coll-poltava-blouse-desk1440@2x.png w800,"
                sizes="
(min-width: 1440px) 400px,
(min-width: 1280px) 347px, 
(min-width: 768px) 342px, 
(max-width: 375px) 335px"
src="./img/collection/coll-poltava-blouse-mob.png" alt="AUGUST Poltava women's blouseRING"> 
            <div><h3>AUGUST Poltava women's blouseRING</h3>
            <p>3300 UAH</p></div>
            </li>
            <li>
                <div><h3>Women's blouse Gorgany</h3>
                    <p>3350 UAH</p></div>
            </li>
            <li>
                <div><h3>Women's blouse Crimea</h3>
                    <p>4000 UAH</p></div>
            </li>
            <li>
                <div><h3>Men's shirt Verkhovina</h3>
                    <p>3100 UAH</p></div>   
            </li>
            <li>
                <div><h3>Mountain men's shirt</h3>
                    <p>3300 UAH</p></div>  
            </li>
            <li>
                <div><h3>Men's shirt Yasen</h3>
                    <p>1700 UAH</p></div>  
            </li>
        </ul>
    </div>
</section>