<section class="container testi">
  <h2 class="section-title">Testimonials</h2>
  <ul class="testi-list">
    <li class="testi-list-item">
      <div class="testi-list-item-box">
        <img
          class="testi-list-item-photo"
          src="../img/testimonials/testimonials-maria-tkachuk.png"
          alt=""
        />
      </div>
      <div class="testi-list-item-details">
        <h3 class="testi-list-item-name">Maria Tkachuk</h3>
        <p class="testi-list-item-text">
          I was pleasantly surprised by the variety of embroidery offered by
          Vyshyvanka Vibes. They have models for every taste - from classic to
          modern. I bought an embroidered dress to celebrate a special occasion
          and received impeccable service and refinement in every detail.
        </p>
      </div>
    </li>
    <li class="testi-list-item"></li>
    <li class="testi-list-item"></li>
  </ul>
</section>
