<section class="section" id="testimonials">
  <div class="container">
    <h2 class="section-title">Testimonials</h2>
    <ul class="testi-list">
      <li class="testi-list-item">
        <img
          class="testi-list-item-photo"
          srcset="
            ./img/testimonials/testimonials-maria-tkachuk.png        1x,
            ./img/testimonials/testimonials-maria-tkachuk-mob@2x.png 2x
          "
          src="./img/testimonials/testimonials-maria-tkachuk.png"
          width="64"
          height="64"
          alt="Maria Tkachuk photo"
        />
        <div class="testi-list-item-details">
          <h3 class="testi-list-item-name">Maria Tkachuk</h3>
          <p class="testi-list-item-text">
            I was pleasantly surprised by the variety of embroidery offered by
            Vyshyvanka Vibes. They have models for every taste - from classic to
            modern. I bought an embroidered dress to celebrate a special
            occasion and received impeccable service and refinement in every
            detail.
          </p>
        </div>
      </li>
      <li class="testi-list-item">
        <img
          class="testi-list-item-photo"
          srcset="
            ./img/testimonials/testimonials-sergey-rybachok.png    1x,
            ./img/testimonials/testimonials-sergey-rybachok@2x.png 2x
          "
          src="./img/testimonials/testimonials-sergey-rybachok.png"
          width="64"
          height="64"
          alt="Sergey Rybachok photo"
        />
        <div class="testi-list-item-details">
          <h3 class="testi-list-item-name">Sergey Rybachok</h3>
          <p class="testi-list-item-text">
            Vyshyvanka Vibes exceeds all my expectations! Their vyshyvanka are
            simply masterpieces! I fell in love with the quality of the
            materials and the skill of the artisans behind each product. This is
            my favorite embroidery shop where I always find something special
            and unique.
          </p>
        </div>
      </li>
      <li class="testi-list-item">
        <img
          class="testi-list-item-photo"
          srcset="
            ./img/testimonials/testimonials-natalia-chatuk.png    1x,
            ./img/testimonials/testimonials-natalia-chatuk@2x.png 2x
          "
          src="./img/testimonials/testimonials-natalia-chatuk.png"
          width="64"
          height="64"
          alt="Natalia Chatuk photo"
        />
        <div class="testi-list-item-details">
          <h3 class="testi-list-item-name">Natalia Chatuk</h3>
          <p class="testi-list-item-text">
            Vyshyvanka Vibes is a real find for everyone who appreciates
            Ukrainian culture. Their embroidery reflects the spirit and
            traditions of our people. I not only buy embroidered shirts for
            myself, but also give them to my friends abroad as a symbol of our
            beauty and national pride.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
