<section class="section style-section" id="customer-order">
    <div class="container">
        <div class="order-pic">
            <img src="../img/your-order/order-img-desktop.jpg" alt="" width="518" height="521">
        </div>
        <div class="title-form">
            <h2 class="your-order-title">
                <span class="order-title-decor">Your order</span> is our priority: Personalized approach and quality of service
            </h2>
            <form action="">
                <label for="">
                    <input type="text">
                </label>
                <label for="">
                    <input type="text">
                </label>
                <label for="">
                    <textarea name="" id="" cols="30" rows="10"></textarea>
                </label>
                <button type="submit">
                    Send
                    <svg>
                        <use></use>
                    </svg>
                </button>
            </form>
        </div>
    </div>


</section>