/* =========HEADER================ */
.header {
  margin-top: 20px;
  padding-top: 4px;
  padding-bottom: 4px;
  position: relative;
  overflow: hidden;
}
.header .container{
  display: flex;
    align-items: center;
    justify-content: center;
}
.nav-list{
  display: none;
}
.contact-phone{
  display: none;
}
.sotial-list{
  display: flex;
  gap: 12px;
  margin-left: 87px;
}
.sotial-link{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 15px;
  border: 1px solid rgba(252, 249, 249, 0.10);
  background: rgba(252, 249, 249, 0.10);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.sotial-icon{
  fill: #FCF9F9;
  opacity: 0.8;
}
.sotial-link:hover,
.sotial-link:focus{
  border: 1px solid #ECD979;
}
/* =======================BURGER MENU================= */
@media screen and (max-width: 1279px){
.burger-menu{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  padding: 0;
  margin-left: 12px;
}
.burger-icon{
  stroke: #ECD979;
}
}
/* =======================TABLET===================== */
@media screen and (min-width: 768px){
.sotial-list{
  margin-left: 440px;
}
.burger-menu{
margin-left: 20px;
}
}
/* ==================DESKTOP====================== */
@media screen and (min-width: 1280px){
  .header{
    padding-top: 2px;
    padding-bottom: 2px;
  }
  .nav-block{
    margin-left: 60px;
  }
  .nav-list{
    display: flex;
    gap: 25px;
  }
  .nav-item{
    font-size: 14px;
    line-height: 1.29;
    color: #FCF9F9;
    text-transform: uppercase;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .nav-item-link{
    padding: 11px 0;
  }
  .sotial-list {
    margin-left: 20px;
  }
  .burger-menu{
    display: none;
  }
.nav-item:hover,
.nav-item:focus {
  color: #ECD979;
}
.contact-block{
  margin-left: 129px;
}
.contact-phone {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 14px 28px;
  font-size: 14px;
  line-height: 1.43;
  height: 48px;
  color: #FCF9F9;
  border-radius: 15px;
  border: 1px solid rgba(252, 249, 249, 0.10);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-phone:hover,
.contact-phone:focus{
  border: 1px solid#ECD979;
}
}
@media screen and (min-width: 1440px){
  .contact-block{
    margin-left: 289px;
  }
}