.hero{
    padding-top: 60px;
}
.hero-title{
        font-size: 44px;
        font-weight: 400;
        line-height: 1.23; /* 122.727% */
        letter-spacing: -0.03em;
        color: #FCF9F9;
        margin-bottom: 20px;
        width: 335px;
}
.hero-title-color{
    color: #ECD979;
}
.hero-girl-photo{
    border-radius: 4px;
}
.link-scroll-text{
    font-size: 14px;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.04em;
    text-transform: uppercase;
    color: #FCF9F9;
}
.link-scroll{
    display: inline-flex;
height: 49px;
width: 155px;
    margin-left: 70px;
    margin-bottom: 40px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 15px;
    border: 1px solid rgba(252, 249, 249, 0.10);
    transition: border-color 250ms cubic-bezier(0.40, 0, 0.2, 1);
}
.icon-arrow{
    fill:rgba(236, 217, 121, 1);
    display: inline-block;
    height: 26px;
}
.link-scroll:hover, .link-scroll:focus{
    border-color: #ECD979;
}
.icon-star{
    fill:#ECD979;
    display: block;
    margin: 0 auto;
    margin-bottom: 16px;
}

.icon-star-text{
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.04em;
    color: rgba(252, 249, 249, 0.40);
}
.star-and-text,.map-urkaine{
    display: none;
}
@media screen and (min-width: 768px) {
    .star-and-text{
        display: block;
        width: 115px;
        height: 111px;
        position: absolute;
        top: 80px;
        right: 32px;
        }
    .map-urkaine{
        display: block;
        position: absolute;
        bottom: 0;
        right: 13px;
        transform: translateY(50%);
        }
    .hero-title{
        margin-bottom: 40px;
        width: 549px;
        font-size: 54px;
        line-height: 1.19;/* 118.519% */
    }
    .link-scroll{
        width: 168px;
        height: 50px;
        margin-left: 141px;
    }
    .hero{
        position: relative;
        padding-top: 106px;
    }
    .link-scroll-text{
        font-size: 16px;
    }
}
@media screen and (min-width: 1280px){
    .hero{
        display: flex;
        flex-direction: row-reverse;
        justify-content: start;
        column-gap: 40px;
    }
    .hero-title{
        margin-top: 94px;
        width: 518px;
    }
    .link-scroll{
        margin-bottom: 0;
    }
    .star-and-text {
    top: 114px;
    right: 100px;
}
.map-urkaine {
    right: 97px;
}
}
@media screen and (min-width: 1440px) {
    .hero-title{
        width: 630px;
        margin-top: 66px;
        font-size: 64px;
        line-height: 1.16;/* 115.625% */
    }
    .link-scroll{
        margin-left: 181px;
    }
    .star-and-text {
        top: 166px;
    }
}